body{
    background-image: linear-gradient(to bottom, #66ff66 0%, #ffccff 100%);
}

h1{
    text-align: center;
    color: white;
}

h2{
    font-style: italic;
    color: yellow;
}

p{
    color: white;
}

#comm{
    color: red;
}

span{
    color: yellow;
}

.gras{
    font-weight: bold;
}

.niveau{
    /*color:white;
    background-color:white;*/
    margin-right: 50px;
}

em{
    color: aqua;
}

nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0% 25% 0% 25%;
    justify-content: space-around;
    padding: 1em;
    background-color: rgba(124, 32, 32, 75%);
}

footer{
    display: grid;
    grid-template-areas: "footer div";
}

.bloc{
    background-color: rgb(124, 32, 32);
    margin-left: 5px;
    border-radius: 0.5cm;
    padding: 1em;
    margin-bottom: 5px;
}

a:hover {
    color: red;
    font-size: 150%;
    transition-duration: 0.5s;
}

a{
    color: yellow;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}